/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* define color pallets variables */
:root {
  --clr-navy: hsl(233, 27%, 36%);
  --clr-navy-light: #0165f1;
  --clr-purple: rgb(220, 214, 247);
  --clr-purple-light: rgb(244, 238, 255);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

/* ******************************************* */
/*            admin actions                    */
/* ******************************************* */

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1em;
}

.userlist-btn {
  color: #fff;
}

/* user list table style */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  line-height: 1.6;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.monitorreviews,
.getusers {
  text-align: center;
  padding-top: 20px;
}
.monitorreviews > button,
.getusers > button {
  text-align: center;
  border: 1px solid;
  background: #f10101;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  width: 300px;
  height: 100px;
}

.getusers > button {
  bottom: 0;
  padding: 0;
}

admin-form {
  margin-top: 0;
}

.intro {
  background: url("../assets/img/p2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  object-fit: contain;
  padding-bottom: 200px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.452);
}

.main,
.section-categories {
  padding: 4em 0;
}

.main-info {
  align-self: flex-start;
}

h1 {
  font-size: 3.4rem;
  margin-top: 0;
  text-align: center;
  font-weight: 510;
}

h2 {
  margin-top: 2.5em;
  font-size: 1.4em;
  text-align: center;
  font-weight: 500;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  /* background: var(--clr-navy); */
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 1.5em;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__link--button {
  display: inline-block;
  background-color: #fff;
  color: #23424a;
  padding: 0.25em 0.75em;
  border-radius: 10em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.logo {
  max-width: 7%;
}
.logo > img {
  max-width: 100%;
}

/* ******************************************* */
/* hero */
/* ******************************************* */

.hero {
  padding: 100px 0;
  /* background-color: var(--clr-navy-light); */
  color: #fff;
}

.hero__img {
  margin-top: 2em;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 1em;
}

/* footer */

/* socials */
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: var(--clr-purple);
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1; /* same as flex-grow: 1; */
}

footer a {
  color: #000;
}

/* user profile */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 2em 0;
  text-align: center;
  padding: 1em;
  min-width: 250px;
}

.card > .title {
  color: grey;
  font-size: 18px;
}

.user_dp {
  border-radius: 10em;
  width: 80px;
  border: 1px solid black;
}

.profile-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile-btn:hover,
a:hover {
  opacity: 0.7;
}

.user-reviews {
  padding: 1em;
}

/* media queries */

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 2em;
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .col {
    width: 100%;
  }
}

/* hero navigation styling - Nadim */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  text-align: center;
  margin: 0 auto;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  padding-top: 70px;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #0165f1;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.header-dash {
  background: var(--clr-navy-light);
}

#contact input[type="text"],
#contact input[type="img"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Poppins", sans-serif;
}
.sign-up-btn {
  background-color: #ffffff;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  text-shadow: 0px 1px 0px #000000;
  border: 1px solid #ffffff;
  font-size: 15px;
}

.dashboard-container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#contact {
  background: #f9f9f9;
  width: 550px;
  padding: 25px;
  margin: 2em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="img"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="img"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0165f1;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #6590ec;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.logo > img {
  width: 100px;
}
